.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    background-color: rgb(248, 247, 247);
    border: 2px solid rgb(219, 216, 216);
    border-radius: 16px;
    margin: 10px;
    width: 17%;
    text-align: center;
    height: 400px;
}
.card h5{
    font-size: 15px;
    margin: 15px;
    color: rgb(75, 73, 73);
}
.card p{
    font-size: 12px;
    margin: 5px;
}
.card a{
    cursor: pointer;
}
.imageBorder{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: grey;
    width: 229px;
    height: 75%;
}