.container{
  padding: 20px 40px;
}
.title{
  font-size: 50px;
  color: rgb(87, 35, 51);
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading{
  font-size: 38px;
}